html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    color: aqua;
    display: table-cell;
    vertical-align: middle;
}

body:before {
    content: "";
    position: fixed;
    top: 0!important;
    left: 0;
    right: 0;
    width: 100%;
    height: 550px;
    background-image: url(https://i.ibb.co/cNDjPCX/shape-bg.png);
    background-size: cover;
    z-index: 999;
    pointer-events: none
}

.container {
    background-color: black;
    color: aqua;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.container .text {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.container .form {
    margin-top: 20px;
}

.container form .data {
    height: 25px;
    width: 100%;
    margin: 40px 0;
}

form .data textarea {
    height: 100%;
    width: 100%;
}

form .data label {
    font-size: 18px;
}

form .data input {
    height: 100%;
    width: 100%;
    border: none;
    border: 1px solid black;
    outline: none;
    font-size: 18px;
}

h1 {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
}

a {
    text-decoration: underline;
    color: red;
    font-size: 1em;
}

a:visited {
    color: yellow;
    font-size: 1em;
    text-decoration: underline;
}

a:hover {
    color: aqua;
    font-size: 1em;
}

p {
    font-size: 1em;
}

#image {
    float: left;
    padding: 60px;
}

td {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}