html,
body {
    height: 75%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-color: rgb(243, 171, 100);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    color: rgb(34, 7, 236);
    display: table-cell;
    vertical-align: middle;
}

td {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}